<nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="topNavbar">
      <h5 class="text-white">Angular MEAN Stack Example</h5>
      <ul class="navbar-nav ml-auto" *ngIf="_auth.isAuthenticated && _auth.userRole !== 'admin'">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/list']">List</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/create']">Create</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLink="['/list']">Update</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLink="['/list']">Delete</a>
        </li>

        <li class="nav-item">
            <a  class="nav-link" (click)="logout()">Logout</a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!_auth.isAuthenticated">
          <li class="nav-item">
            <a  class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" [routerLink]="['/signup']">Signup</a>
          </li>
        </ul>

        
      <ul class="navbar-nav ml-auto" *ngIf="_auth.isAuthenticated && _auth.userRole === 'admin'">
          <li class="nav-item">
              <a  class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
  </nav>
<div>
    <div class="loader" *ngIf="loading"></div>
  <router-outlet></router-outlet>
</div>